/* здесь используйте глобальные переменные */
$color-default-black: #333333;
$color-default-white: #ffffff;
$color-default-button: #7859cf;
$color-hover-button: #9070ec;
$color-active-button: #593cac;

$font-Montserrat: "Montserrat", sans-serif;

// Viewports
// ---------------------------------

$modile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
