.button {
  display: inline-block;
  padding: 8px 22px 8px;

  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  font-family: $font-Montserrat;
  text-align: center;
  color: $color-default-white;
  text-decoration: none;

  background-color: $color-default-button;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
