.hero {
  position: relative;

  display: flex;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  /* padding-top: 20px; */
  overflow: hidden;

  background-color: $color-default-white;

  @media (min-width: $tablet-width) {
    padding-bottom: 188px;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
    padding-bottom: 0;
  }
}

.hero__wrapper {
  display: flex;
  flex-shrink: 0;
  padding-top: 17px;
  padding-bottom: 59px;

  background-color: #f3ebe1;

  @media (min-width: $tablet-width) {
    max-height: 640px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
    padding-top: 0;
  }
}

.hero-button {
  position: absolute;

  width: 20px;
  min-height: 636px;

  background-color: #f3ebe1;
  border: none;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 80px;
    max-height: 640px;
  }

  @media (min-width: $desktop-width) {
    min-height: 714px;
  }
}

.hero__slider-button-prev {
  &::before {
    content: "";
    position: absolute;
    left: 0;

    width: 20px;
    height: 20px;

    background-image: url("../../icons/arrow-back.svg");

    @media (min-width: $tablet-width) {
      left: auto;

      transform: translate(-50%, -35%);
    }
  }
}

.hero__slider-button-next {
  right: 0;

  &::after {
    content: "";
    position: absolute;
    right: 0;

    width: 20px;
    height: 20px;

    background-image: url("../../icons/arrow-next.svg");

    @media (min-width: $tablet-width) {
      right: auto;

      transform: translate(-50%, -35%);
    }
  }
}
