.nav-entry__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

/* .nav-entry__item {
  padding-right: 13px;
} */

.nav-entry__link {
  display: block;
  padding: 22px 22px 17px;

  color: #333333;

  fill: currentColor;

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    padding: 28px 18px 30px 41px;

    gap: 8px;
  }
}

.nav-entry__first-decor {
  padding: 22px;
}

.nav-entry__link--text {
  display: none;

  @media (min-width: $desktop-width) {
    display: block;

    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    font-family: $font-Montserrat;
    color: $color-default-black;
    text-transform: uppercase;
    letter-spacing: 0.24px;
  }
}
