.nav-list {
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: $color-default-white;
}

.nav-list__item--current {
  position: relative;

  &::after {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      right: 12px;
      right: 1px;
      bottom: 0;
      left: 5px;

      background: #7859cf;
    }

    @media (min-width: $desktop-width) {
      right: -1px;
      left: 22px;
    }
  }
}

.nav-list__link {
  display: block;
  padding: 20px 20px 21px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  font-family: $font-Montserrat;
  text-align: center;
  color: $color-default-black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.24px;

  @media (min-width: $tablet-width) {
    padding: 32px 18px 31px 23px;
  }

  @media (min-width: $desktop-width) {
    padding: 33px 22px 31px 40px;
  }
}
