.product-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 320px;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    padding: 31px 82px 0;
  }

  @media (min-width: $desktop-width) {
    align-items: start;
    max-width: 600px;
    padding: 0;
  }
}

.product-name__text {
  padding-top: 12px;
  padding-bottom: 5px;

  @media (min-width: $desktop-width) {
    padding-top: 0;

    text-align: start;
  }
}

.product-name__heading {
  margin: 0;
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  font-family: $font-Montserrat;
  text-align: center;
  color: $color-default-black;
  letter-spacing: 0.72px;

  @media (min-width: $tablet-width) {
    padding-bottom: 15px;

    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}

.product-name__description {
  padding-bottom: 20px;

  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  font-family: $font-Montserrat;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 32px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 30px;

    text-align: start;
  }
}

.product-name__description br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.product-name__order {
  display: flex;

  gap: 20px;
}

.product-name__price {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;
}

.product-name__price-old {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  font-family: $font-Montserrat;
  color: $color-default-black;
  text-decoration: line-through;
}

.product-name__price-new {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  font-family: $font-Montserrat;
  color: $color-default-black;
}

.product-name__button {
  padding: 9px 21px;
}
