.slider-pagination {
  display: none;

  @media (min-width: $desktop-width) {
    position: absolute;
    right: 43%;
    bottom: 62px;
    z-index: 5;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20px;

    cursor: pointer;

    gap: 8px;
  }
}

.slider-pagination__indicator {
  display: block;
  width: 100%;
  min-width: 62px;
  height: 4px;

  background-color: #ffffff;
  cursor: pointer;

  &--active {
    background-color: $color-default-button;
  }
}
